<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>headlessPi Apps</title>
        <style>

html, body{
  height:100%;
  font-family: arial, helvetica, verdana, sans-serif;
}
ul{
  margin:0;
  padding:0;
}
ul li{
  list-style-type:none;
  background:#DDD;
  padding:10px;
  margin:10px 0;
}
h2, p{
  margin:0;
  padding:0;
}
h2{
  font-size: 120%;
}
button{
  float: right;
}

        </style>
    </head>
    <body>
      {{ content }}
    </body>
</html>
